<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemUnahNuevo.My.MySettings.unahsistemConnectionString"
            connectionString="server=localhost;user id=root;password=tete1991;database=unahsistem"
            providerName="MySql.Data.MySqlClient" />
        <add name="SystemUnahNuevo.My.MySettings.unahsistemConnectionString1"
            connectionString="server=localhost;user id=root;password=tete1991;persistsecurityinfo=True;database=unahsistem"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>